.home-area{
    background-color: #FEEAE9;
}
.section-margin{
    margin-top: 100px;
}
.color-highlighter{
    color: #FF136F;
}
.btn-bg{
    background-image: linear-gradient(#FF4F96,#FF136F);
}
.card-style{
    border: none;
    background-color: white;
}
.input-width{
    width: 360px;
}
.input-border{
    width: 100%;
}
